* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styling */
#header {
    position: fixed;
    width: 100%;
}

#topHeader {
    background-color: #3e3e3e;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

#topHeader a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#fixedHeader {
    background-color: #ffffff;
    height: 100px;
    font-size: 18px;
    width: 100%;
}

#logo {
    font-size: 28px;
    font-weight: 600;
}





#divf{
   
    padding-top: 5px;
    height: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    color: white;
}
.p1>a{
    color: white;
    text-decoration: none;
}
.p1>a:hover{
    
    color: black;
}
#main{
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #d4d1d1;
    width: 70%;
    height: 500px;
}