* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styling */
#header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#topHeader {
    background-color: #3e3e3e;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

#topHeader a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#fixedHeader {
    background-color: #ffffff;
    height: 100px;
    font-size: 18px;
    width: 100%;
  
}

#logo {
    font-size: 28px;
    font-weight: 600;
}

/* header styling end */

.card img:hover {
    opacity: 0.8;
}

.row,
col {
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    font-size: 18px;
    color: lightcoral;
}

footer li {
    list-style: none;
}

.icons img {
    margin: 8px;
}

.icons img:hover {
    height: 35px;
    width: 35px;
    opacity: 0.8;
}

ul {
    padding: 5px;
}

.dark {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 12%;
}

.icons-payment img {
    margin: 8px;
}

.icons-payment img:hover {
    height: 45px;
    width: 65px;
    opacity: 0.8;
}

.container-fluid {
    padding: 0;
}